*, *:before, *:after {
	box-sizing: border-box;
}

@font-face {
	font-family: 'Aparajita';
	src: url("fonts/aparaj.ttf");
	src: local(Aparajita), url("/fonts/aparaj.ttf") format("truetype");
}

html, body {
	margin: 0;
	padding: 0;
	font-family: "Lato", sans-serif;
	font-size: 16px;
	color: white;
	font-style: normal;
}

/*Универсальные стили для цветных блоков*/

.pink {
	background-color: #f0626e;
}

.blue {
	background-color: #05aecc;
}

.dark-blue {
	background-color: #00a1be;
}

.grey {
	background-color: #323232;
}

.grey-transparent {
  background-color: rgb(54, 42, 79);
  opacity: 0.8;
}

/* /Универсальные стили для цветных блоков*/


.container {
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
}

.clearfix:after {
	content: "";
	display: block;
	clear: all;
}

/*Header*/
/*Вехняя часть менб*/
.header-top {
	background: #ffffff;
	color: #434343;
	font-family: "Lato", sans-serif;
	font-size: 16px;
	min-height: 40px;
}


.top-menu {
	float: right;
}

.top-menu ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.top-menu li {
	display: inline-block;
	vertical-align: middle;
	margin: 10px 0 10px 0;
	padding-left: 33px;
}

.top-menu a {
	color: #434343;
	text-decoration: none;
}

.top-menu a:hover {
	color: #6f7c7d;
}

.top-menu a:active {
	color: #373a36;
}

/*Нижняя часть меню и логотип*/
.header-bottom {
	background-color: #f6f6f6;
	min-height: 90px;
}

.logo {
	position: relative;
	display: block;
	float: left;
	width: 189px;
	height: 90px;
	background: #ffffff;
}

.logo img {
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 0%;
}

/*Нижняя часть меню*/
.menu-bottom {
	float: right;
}

.menu-bottom ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu-bottom li {
	display: inline-block;
	vertical-align: middle;
}

.menu-bottom a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	min-height: 90px;
	min-width: 115px;
	padding-top: 35px;
}

.menu-bottom li:nth-child(n+3) a {
	position: relative;
	min-width: 140px;
	padding-right: 40px;
}

/*Иконки в меню*/
.menu-bottom li:nth-child(3) a:after {
	outline: 1px solid black;
	content: '';
	display: block;
	position: absolute;
	right: 15px;
	top: 30px;
	width: 23px;
	height: 25px;
}

.menu-bottom li:nth-child(4) a:after {
	outline: 1px solid black;
	content: '';
	display: block;
	position: absolute;
	right: 35px;
	top: 33px;
	width: 28px;
	height: 24px;
}

/* /Header*/
